<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854916529122-q58l5lck8rg7npajm41e0hm94ovmc35m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854916529122-q58l5lck8rg7npajm41e0hm94ovmc35m</string>
	<key>API_KEY</key>
	<string>AIzaSyCecpOQ1s0qgaa36ycYCGy5tVTZv42hHsY</string>
	<key>GCM_SENDER_ID</key>
	<string>854916529122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tutorialproject.firebasetest</string>
	<key>PROJECT_ID</key>
	<string>fir-project-12c0c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-12c0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854916529122:ios:c79f5ee4bd7edc819057bb</string>
</dict>
</plist>